Intermittent errors "open in another tab possibly..." in jupyter_extension

macOS
jupyter_extension

I am regularly able to repro this on a Scala kernel while re-running all cells in a notebook of about 5 cells w/ plotly chart outputs. I think an auto-save is initiated while the cells are calculating, and things get out of sync.

Once it happens it prevents all future saves.

I can exacerbate the issue by manually clicking the save menu item while recalculating.

I've been able to repro less frequently w/ Python, though it does happen on occasion. 

I'm noticing that Chrome shows that my most recent content XHR request is being served from Chrome's cache. I wonder if that's related. I see a fast sequence of a GET ?content=0 (not from cache, a PUT, then another GET (this time from cache).

```
Note: Section 13.9 of [RFC2616] prohibited caches from calculating heuristic freshness for URIs with query components (i.e., those containing '?'). In practice, this has not been widely implemented. Therefore, origin servers are encouraged to send explicit directives (e.g., Cache-Control: no-cache) if they wish to preclude caching.
```